body {
    background-color: #d3d3d3;
}
.nav-tabs  {
    text-align: center;
}
.nav-tabs > li {
    float: none;
    display: inline-block;
    zoom:1;
}
.rowCustom {
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
    padding: 20px;
    border-radius: 30px;
}
.login {
    text-align: center;
    margin: 5px;
}
#submit {
    width: 50%;
    margin: 5px
}
.center {
    text-align: center;
    margin: auto;
}
.nav-custom {
    background: #145C9E;
    margin-bottom: 10px;
}
.loginForm {
    padding: 15px;
}
#SpecialistDiv {
    display: none;
}
.boxShadow {
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    overflow: hidden;
}
.boldText {
    font: bold;
    text-decoration: blueviolet;
}
.checkIssues {
    max-height: 400px;
}
.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 10px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 50px;
    border: 1px solid black;
    vertical-align: middle;
  }
.button-element {
    display: inline-block;
    max-width: 200px;
}
.systemAnalysis {
    background-color: #FFA400;
}
.sys-element {
    margin:auto;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}
.helpdeskAnalysis {
    background-color: #145C9E;
}
.clearfix {
    overflow: auto;
  }
.AnalysisViewDiv {
    margin-top: 10px;
}
.TechnincalAnalysis {
    background-color: #E417E8;
}
.ProblemAnalysis {
    float: left;
    display: inline-block;
    max-height: 300px;
}
.ProblemAnalysisText {
    display: inline-block;
    margin: 10px;
    width: 50%;
}
// 	.op-element
// 	{
// 		margin:0 auto;
// 		text-align: center;
// 		width: 95%;
// 		border-style: solid;
// 		border-color:#2A6BEF;
// 	}
// 	.tech-element
// 	{
// 		margin:0 auto;
// 		text-align: center;
// 		width: 95%;
// 		border-style: solid;
// 		border-color:#992AEF;
// 	}
//     #syspie
//     {
//         float:left;
//     }
//     #sysbar
//     {
//         float:right;
//     }
//     #optop
//     {
//         margin-left:70px;
//         padding: 5px;
//         width:45%;
//         float:left;
//     }
//     #optop2
//     {
//         margin-left:70px;
//         padding: 5px;
//         width:45%;
//         float:left;
//     }
//     #opmiddle 
//     {
//         margin-left: 70px;
//         padding: 5px;
//         width:30%;
//         float: left;
//         height:300px;
//     }
//     #opimg 
//     {
//         margin-left: 70px;
//         padding: 5px;
//         width:15%;
//         float: left;
//         height:300px;
//     }
//     #opbtm 
//     {
//         margin-left: 70px;
//         padding: 5px;
//         width: 100%;
//         float: left;
//     }
//     #ophigh 
//     {
//         margin-left: 70px;
//         padding: 5px;
//         width: 28%;
//         float: left;
//     }
//     #opmed {
//         margin-left: 70px;
//         padding: 5px;
//         width: 28%;
//         float: left;
//     }
//     #oplow {
//         margin-left: 70px;
//         padding: 5px;
//         width: 28%;
//         float: left;
//     }
//     #barchartvalues 
//     {
//         width: 40%;
//         float: left;
//     }
//     #spectop {
//         margin-left: 70px;
//         padding: 5px;
//         width: 45%;
//         float: left;
//     }

//     #spectop2 {
//         margin-left: 70px;
//         padding: 5px;
//         width: 45%;
//         float: left;
//     }

//     #specmiddle {
//         margin-left: 70px;
//         padding: 5px;
//         width: 30%;
//         float: left;
//         height: 300px;
//     }

//     #specimg {
//         margin-left: 70px;
//         padding: 5px;
//         width: 15%;
//         float: left;
//         height: 300px;
//     }

//     #specbtm {
//         margin-left: 70px;
//         padding: 5px;
//         width: 100%;
//         float: left;
//     }

//     #spechigh {
//         margin-left: 70px;
//         padding: 5px;
//         width: 28%;
//         float: left;
//     }

//     #specmed {
//         margin-left: 70px;
//         padding: 5px;
//         width: 28%;
//         float: left;
//     }

//     #speclow {
//         margin-left: 70px;
//         padding: 5px;
//         width: 28%;
//         float: left;
//     }

//     #specbarchart {
//         width: 40%;
//         float: left;
//     }

// 	#systemanalysis
// 	{
// 		padding: 20px;
// 	}
// 	#operatoranalysis
// 	{
// 		padding: 20px;
// 	}
// 	#specialistanalysis
// 	{
// 		padding: 20px;
// 	}