body {
    background-color: #d3d3d3;
}
.nav-tabs  {
    text-align: center;
}
.nav-tabs > li {
    float: none;
    display: inline-block;
    zoom:1;
}
.rowCustom {
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
    padding: 20px;
    border-radius: 30px;
}
.login {
    text-align: center;
    margin: 5px;
}
#submit {
    width: 50%;
    margin: 5px
}
.center {
    text-align: center;
    margin: auto;
}
.nav-custom {
    background: #145C9E;
    margin-bottom: 10px;
}
.loginForm {
    padding: 15px;
}
#SpecialistDiv {
    display: none;
}