body {
    background-color: #d3d3d3;
}
.nav-tabs  {
    text-align: center;
}
.nav-tabs > li {
    float: none;
    display: inline-block;
    zoom:1;
}
.rowCustom {
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
    padding: 20px;
    border-radius: 30px;
}
.login {
    text-align: center;
    margin: 5px;
}
#submit {
    width: 50%;
    margin: 5px
}
.center {
    text-align: center;
    margin: auto;
}
.nav-custom {
    background: #145C9E;
    margin-bottom: 10px;
}
.loginForm {
    padding: 15px;
}
#SpecialistDiv {
    display: none;
}
.boxShadow {
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    overflow: hidden;
}
.boldText {
    font: bold;
    text-decoration: blueviolet;
}
.checkIssues {
    max-height: 400px;
}
.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 10px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 50px;
    border: 1px solid black;
    vertical-align: middle;
  }
.button-element {
    display: inline-block;
    max-width: 200px;
}
.systemAnalysis {
    background-color: #FFA400;
}
.sys-element {
    margin:auto;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}
.helpdeskAnalysis {
    background-color: #145C9E;
}
.clearfix {
    overflow: auto;
  }
.AnalysisViewDiv {
    margin-top: 10px;
}
.TechnincalAnalysis {
    background-color: #E417E8;
}
.ProblemAnalysis {
    float: left;
    max-height: 300px;
}
.ProblemAnalysisText {
    display: inline-block;
    margin: 10px;
    width: 50%;
}
.spacingBetween {
    margin-top: 20px;
}
.ProblemAnalysisCategory {
    display: inline-block;
    margin: 10px;
    width: 30%;
}
.specialistSearchProfileDisplay {
    background-color: white;
}
.speicalistSearchInfo {
    margin-top: 10px;
}
.checkSpecialist {
    height: 750px;
    width: 80%;
}
.spSearchTaskAssigned {
    display: inline-block;
    text-align: center;
    width: 100%
}
.spSearchPriorityBox {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    width: 30%;
}
.spSearchPriorityBox2 {
    display: inline-block;
    text-align: center;
    width: 35%;
}
.specialistExpertise {
    display: inline-block;
    margin-right: 5px;
}
.showProblemDetails {
    display: inline-block;

}
.showProblems30 {
    display: inline-block;
    max-width: 50%;
}
.helpdeskImg {
    width: 60px;
    height: 75px;
}
.helpdeskShow {
    background-color: #BCDFFF;
}
.helpdeskDivs {
    display: inline-block;
    width: 29%;
}
.helpdeskDivs2 {
    display: inline-block;
    width: 40%;
}